<div class="container">
<div class="row" style="display: flex;justify-content: center;">
    <div class="col-6">
        <h1>Bastion of XARA</h1>
        <p>In Bastion of Xara spielt man eine namenlose Helding auf ihrer Mission die Schätze von dem Alien-Planeten XARA zu bergen. Auf ihrem Weg stellen sich viele verschiedene Lebensformen ihr auf dem Weg und versuchen ihr vorranschreiten zu verhindern.</p>
<br>
        <p>Diese Story wird in einer späteren Version weiter ausgebaut und ausführlicher beschrieben.</p>
    </div>
</div>
<div class="row" style="display: flex;justify-content: center;">
    <div class="col-6" style="margin-top: 50px;">
        <h2>Steuerung</h2>
        <table class="table table-borderless" style="color: white;">
            <thead>
                <tr>
                    <th>Aktion</th>
                    <th>Taste</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pfeiltasten / A/D</td>
                    <td>Nach links und rechts bewegen</td>
                </tr>
                <tr>
                    <td>Maus 1 / Strg links</td>
                    <td>Schießen</td>
                </tr>
                <tr>
                    <td>Leertaste</td>
                    <td>Springen</td>
                </tr>
                <tr>
                    <td>Esc / P</td>
                    <td>Pause Menu</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

