<div class="row" style="display: flex;justify-content: center;">
    <div class="col-6">
        <h1>Bastion of Xara v0.5.2</h1>
        <img src="../../assets/images/bg-ss.png" style="width: inherit;">
        <br>
        <h4>Download (64Mb)</h4>
        <table class="table-borderless">
            <tr>
                <td>Windows:</td>
                <td><a (click)="download()" href="javascript:void(0);">&gt;&gt;&gt;LINK&lt;&lt;&lt;</a></td>
            </tr>
            <tr>
                <td>Linux:</td>
                <td>Noch in Entwicklung</td>
            </tr>
        </table>
    </div>
</div>

