<div class="row" style="display: flex;justify-content: center;">
  <div class="col-6" style="margin-top: 150px;">
      <h1>Entwickler</h1>
      <br>
      <br>
      <h2>Bastion of Xara Unity Projekt</h2>
      <p>Entwickelt und fertigestellt wurde das Spiel von Bastion Raupach. Die Engine, sowie der Spieler wurden alle selbst entwickelt.</p>
      <br>
      <h2>Webseite & Rest-API</h2>
      <p>Entwickelt wurde die Webseite und die Rest-API von Nico Eschner. Die API ermöglicht die Kommunikation zwischen dem Spiel und unserem Server.</p>
  </div>
</div>

