<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Body Content -->
<!-- <app-startpage *ngIf="isDisplayed(View.startpage)"></app-startpage>
<app-contact *ngIf="isDisplayed(View.contact)"></app-contact>
<app-gamewindow *ngIf="isDisplayed(View.gamewindow)"></app-gamewindow>
<app-whatis *ngIf="isDisplayed(View.whatis)"></app-whatis>
<app-changelog *ngIf="isDisplayed(View.changelog)"></app-changelog> -->
<router-outlet id="site-content"></router-outlet>
<div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

<!-- Footer -->
<app-footer></app-footer>
