<nav class="navbar navbar-light navbar-expand-lg navbar-color">
  <a class="navbar-brand clickable" [routerLink]="'/'">
    <img src="../../../assets/images/player-idle-1.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
    <span style="cursor: pointer;" [routerLink]="'/'" class="site-title custom-nav-title" >Bastion of Xara</span>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link clickable" [routerLink]="'/download'">Download</a>
      <a class="nav-item nav-link clickable" [routerLink]="'/about'">Was ist BoX?</a>
      <a class="nav-item nav-link clickable" [routerLink]="'/shop'">Shop</a>
      <a class="nav-item nav-link clickable" [routerLink]="'/team'">Entwickler</a>
    </div>
    <div class="navbar-nav ml-auto" *ngIf="!currentUser">
      <a class="nav-item nav-link clickable" [routerLink]="'/login'">Login</a>
      <a class="nav-item nav-link clickable" [routerLink]="'/register'">Registrieren</a>
    </div>
    <div class="navbar-nav ml-auto" *ngIf="currentUser">
      <a class="nav-item nav-link clickable">{{ currentUser.username }}</a>
      <a class="nav-item nav-link clickable" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
