<div class="row" style="display: flex;justify-content: center;">
    <div class="col-6" style="margin-top: 150px;">
        <h1>Shop</h1>
        <table class="table table-borderless" style="color: white !important;">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Preis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../../assets/images/bg-ss.png" style="width: 100px;"></td>
                    <td>Bastion of Xara v0.5.8</td>
                    <td>4,99€</td>
                    <td><input type="button" value="Kaufen" class="btn btn-secondary" (click)="buyGame()" *ngIf="!currentUser.ownsGame"><span *ngIf="currentUser.ownsGame">Bereits erworben</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

