<footer class=" py-4 bg-dark footer-color text-white-50 fixed-footer" style="background-color: rgba(16, 17, 28, 0.4) !important">
  <div class="container text-center">
    <small>Copyright 2020 @ Nico Eschner | <a [routerLink]="'/impressum'">Impressum</a> | <a [routerLink]="'/dsgvo'">DSGVO</a></small>
  </div>
  
</footer>
