/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "curse";
  src: url("assets/fonts/ThaleahFat_TTF.ttf");
}

// Makes the footer fixed to the bottom
.fixed-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

// Navbar colors
.navbar-color {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  color: white;
  .navbar-brand {
    font-family: "curse";
    font-size: 29px;
    font-weight: unset;
    margin-right: 0em;
  }
  a {
    color: white !important;
    //font-weight: bold;
  }
}

.footer-color {
  background-color: rgba(16, 17, 28, 0.4) !important;
}

.navbar {
  font-size: 20px;
}

.site-title {
  font-family: "curse";
  font-size: 40px;
  line-height: 1;
    font-weight: unset;
    margin-right: 1em;
}

// Position fix for navbar logo + text
.navbar-brand {
  margin-top: -13px;

  img {
    margin-top: 10px;
    margin-right: 10px;
  }
  span {
    margin-top: -36px;
  }
}

// Background color for the page
body {
  //background-color: antiquewhite !important;
  //background-image: url('assets/bg-images/background-tile.png');
  color: white !important;
  font-family: "curse" !important;
}

// #bg-imp {
//   position: absolute;
//   overflow: hidden;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   //height: 200px;
//   width: 400px;
//   z-index: -9999;
//   opacity: 0.5;
// }

// Sets the play area
.gamewindow {
  height: 60vh;
  margin-top: 50px;
  border: 2px solid gold;
}

// Turns the cursor to a pointer
.clickable{
  cursor: pointer;
}

.form-control {
  background-color: #ffffff !important;
  border-color: black !important;
}






html, body {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%) !important;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 660px 1525px #FFF , 838px 1344px #FFF , 1832px 442px #FFF , 1748px 1433px #FFF , 1153px 1576px #FFF , 1988px 1898px #FFF , 837px 1714px #FFF , 1710px 960px #FFF , 345px 1734px #FFF , 309px 539px #FFF , 852px 1795px #FFF , 979px 1908px #FFF , 513px 119px #FFF , 488px 1265px #FFF , 1300px 977px #FFF , 1947px 661px #FFF , 1726px 697px #FFF , 392px 1385px #FFF , 1154px 356px #FFF , 206px 1275px #FFF , 932px 1963px #FFF , 467px 570px #FFF , 261px 1657px #FFF , 1245px 1109px #FFF , 798px 1950px #FFF , 1109px 590px #FFF , 28px 626px #FFF , 376px 213px #FFF , 1868px 1652px #FFF , 98px 1752px #FFF , 93px 1751px #FFF , 1554px 1025px #FFF , 1945px 1327px #FFF , 1551px 1592px #FFF , 321px 506px #FFF , 327px 215px #FFF , 1352px 1182px #FFF , 1574px 1381px #FFF , 802px 898px #FFF , 4px 1915px #FFF , 1807px 1014px #FFF , 538px 449px #FFF , 130px 866px #FFF , 1547px 8px #FFF , 1689px 308px #FFF , 628px 543px #FFF , 470px 1145px #FFF , 1572px 61px #FFF , 871px 879px #FFF , 269px 1863px #FFF , 1653px 381px #FFF , 776px 113px #FFF , 1831px 467px #FFF , 582px 2000px #FFF , 1203px 1733px #FFF , 453px 1980px #FFF , 448px 1779px #FFF , 674px 505px #FFF , 1786px 1600px #FFF , 845px 200px #FFF , 1845px 1668px #FFF , 1878px 1115px #FFF , 5px 1184px #FFF , 1410px 518px #FFF , 1897px 108px #FFF , 1511px 824px #FFF , 1845px 421px #FFF , 1391px 1537px #FFF , 45px 458px #FFF , 1805px 567px #FFF , 1105px 374px #FFF , 487px 111px #FFF , 1831px 621px #FFF , 1724px 694px #FFF , 650px 493px #FFF , 1662px 127px #FFF , 1768px 413px #FFF , 1453px 453px #FFF , 1155px 271px #FFF , 1044px 1013px #FFF , 1868px 321px #FFF , 1459px 1696px #FFF , 1470px 1683px #FFF , 766px 576px #FFF , 2000px 533px #FFF , 1328px 901px #FFF , 316px 151px #FFF , 815px 1226px #FFF , 79px 1419px #FFF , 285px 405px #FFF , 1962px 1628px #FFF , 1614px 1595px #FFF , 1692px 1423px #FFF , 1138px 286px #FFF , 213px 1253px #FFF , 1327px 1447px #FFF , 649px 333px #FFF , 1857px 1824px #FFF , 774px 532px #FFF , 626px 680px #FFF , 1461px 1297px #FFF , 740px 1990px #FFF , 1117px 975px #FFF , 1464px 1586px #FFF , 228px 8px #FFF , 164px 726px #FFF , 977px 99px #FFF , 1695px 873px #FFF , 1793px 1900px #FFF , 1957px 642px #FFF , 97px 1609px #FFF , 987px 1875px #FFF , 622px 1180px #FFF , 1904px 579px #FFF , 454px 1566px #FFF , 821px 1181px #FFF , 1823px 1484px #FFF , 1818px 777px #FFF , 1125px 1162px #FFF , 1160px 1327px #FFF , 1542px 1813px #FFF , 1867px 1093px #FFF , 171px 1654px #FFF , 1784px 836px #FFF , 685px 1581px #FFF , 135px 476px #FFF , 679px 1181px #FFF , 1777px 938px #FFF , 78px 841px #FFF , 1420px 1627px #FFF , 382px 304px #FFF , 944px 761px #FFF , 1145px 1614px #FFF , 1164px 605px #FFF , 798px 1313px #FFF , 259px 1602px #FFF , 741px 333px #FFF , 955px 1919px #FFF , 130px 1592px #FFF , 1060px 1877px #FFF , 423px 983px #FFF , 5px 1982px #FFF , 215px 126px #FFF , 1842px 1597px #FFF , 684px 94px #FFF , 1801px 573px #FFF , 1333px 1998px #FFF , 1195px 1829px #FFF , 472px 1025px #FFF , 1436px 1348px #FFF , 762px 402px #FFF , 1444px 442px #FFF , 490px 918px #FFF , 1842px 604px #FFF , 437px 1268px #FFF , 942px 709px #FFF , 1108px 1985px #FFF , 438px 1427px #FFF , 1521px 1145px #FFF , 1162px 1741px #FFF , 855px 1462px #FFF , 1650px 157px #FFF , 740px 1105px #FFF , 441px 774px #FFF , 1246px 507px #FFF , 69px 1402px #FFF , 833px 279px #FFF , 1563px 1812px #FFF , 33px 337px #FFF , 380px 1674px #FFF , 676px 562px #FFF , 679px 1584px #FFF , 728px 1069px #FFF , 1330px 236px #FFF , 271px 1654px #FFF , 595px 236px #FFF , 271px 465px #FFF , 34px 1772px #FFF , 801px 396px #FFF , 1711px 987px #FFF , 1881px 946px #FFF , 555px 1173px #FFF , 1109px 1455px #FFF , 279px 963px #FFF , 920px 1943px #FFF , 327px 700px #FFF , 1299px 1434px #FFF , 1697px 167px #FFF , 879px 1830px #FFF , 1579px 510px #FFF , 1558px 1538px #FFF , 1616px 221px #FFF , 1645px 340px #FFF , 548px 1136px #FFF , 134px 346px #FFF , 1526px 942px #FFF , 608px 899px #FFF , 947px 1614px #FFF , 384px 1481px #FFF , 486px 1687px #FFF , 731px 182px #FFF , 1928px 750px #FFF , 1322px 1800px #FFF , 350px 904px #FFF , 515px 299px #FFF , 1538px 938px #FFF , 22px 1266px #FFF , 1715px 1479px #FFF , 1512px 958px #FFF , 959px 454px #FFF , 241px 1215px #FFF , 333px 358px #FFF , 1033px 1110px #FFF , 1984px 185px #FFF , 1448px 1257px #FFF , 1968px 240px #FFF , 1714px 1199px #FFF , 1081px 840px #FFF , 230px 1547px #FFF , 820px 1254px #FFF , 1063px 1088px #FFF , 1674px 1293px #FFF , 693px 1020px #FFF , 1089px 474px #FFF , 47px 1129px #FFF , 1483px 1139px #FFF , 414px 113px #FFF , 790px 1137px #FFF , 1544px 1856px #FFF , 1014px 738px #FFF , 988px 198px #FFF , 1670px 1083px #FFF , 1602px 1671px #FFF , 1697px 790px #FFF , 660px 301px #FFF , 398px 605px #FFF , 1799px 206px #FFF , 1257px 1654px #FFF , 781px 869px #FFF , 1180px 1983px #FFF , 529px 1138px #FFF , 1522px 152px #FFF , 1462px 382px #FFF , 1113px 1585px #FFF , 1899px 18px #FFF , 1014px 440px #FFF , 246px 1799px #FFF , 244px 307px #FFF , 1351px 1092px #FFF , 440px 1774px #FFF , 171px 1796px #FFF , 1935px 1700px #FFF , 1265px 32px #FFF , 1622px 86px #FFF , 580px 1768px #FFF , 865px 101px #FFF , 16px 944px #FFF , 1539px 676px #FFF , 283px 1881px #FFF , 1369px 716px #FFF , 757px 1167px #FFF , 654px 1042px #FFF , 866px 1078px #FFF , 109px 1364px #FFF , 1733px 476px #FFF , 259px 158px #FFF , 1083px 1613px #FFF , 251px 336px #FFF , 1190px 633px #FFF , 154px 1993px #FFF , 1870px 807px #FFF , 1439px 1797px #FFF , 1732px 1870px #FFF , 1076px 1295px #FFF , 1544px 525px #FFF , 878px 1214px #FFF , 265px 1141px #FFF , 1998px 897px #FFF , 630px 635px #FFF , 182px 1164px #FFF , 1083px 1006px #FFF , 641px 644px #FFF , 1086px 1608px #FFF , 203px 1881px #FFF , 146px 1048px #FFF , 779px 1px #FFF , 951px 1064px #FFF , 1175px 1983px #FFF , 410px 420px #FFF , 1786px 1555px #FFF , 448px 807px #FFF , 1372px 1362px #FFF , 1482px 424px #FFF , 639px 1214px #FFF , 175px 1177px #FFF , 987px 390px #FFF , 846px 809px #FFF , 1059px 710px #FFF , 1493px 1410px #FFF , 1951px 1632px #FFF , 1151px 1842px #FFF , 934px 1736px #FFF , 1592px 916px #FFF , 986px 867px #FFF , 1736px 1148px #FFF , 920px 123px #FFF , 1776px 1436px #FFF , 997px 1864px #FFF , 419px 521px #FFF , 431px 945px #FFF , 1829px 757px #FFF , 218px 958px #FFF , 1676px 1343px #FFF , 829px 971px #FFF , 1218px 808px #FFF , 1528px 1459px #FFF , 248px 188px #FFF , 1496px 1523px #FFF , 1014px 837px #FFF , 327px 959px #FFF , 1224px 29px #FFF , 1313px 1494px #FFF , 114px 965px #FFF , 679px 1152px #FFF , 879px 673px #FFF , 1831px 890px #FFF , 1908px 519px #FFF , 102px 31px #FFF , 1747px 306px #FFF , 181px 887px #FFF , 1873px 360px #FFF , 1929px 1412px #FFF , 1638px 564px #FFF , 630px 975px #FFF , 1878px 12px #FFF , 1327px 985px #FFF , 108px 1494px #FFF , 101px 573px #FFF , 1535px 358px #FFF , 851px 140px #FFF , 857px 937px #FFF , 1129px 757px #FFF , 1328px 1477px #FFF , 150px 48px #FFF , 1814px 390px #FFF , 1000px 1977px #FFF , 1903px 1923px #FFF , 1989px 1642px #FFF , 1363px 1234px #FFF , 1147px 1708px #FFF , 1460px 1809px #FFF , 145px 798px #FFF , 572px 1458px #FFF , 218px 1956px #FFF , 1290px 917px #FFF , 622px 1288px #FFF , 1903px 447px #FFF , 1308px 410px #FFF , 499px 1629px #FFF , 73px 1684px #FFF , 953px 175px #FFF , 402px 820px #FFF , 593px 517px #FFF , 712px 1062px #FFF , 382px 251px #FFF , 1366px 501px #FFF , 1028px 1581px #FFF , 568px 201px #FFF , 441px 722px #FFF , 1115px 58px #FFF , 1142px 346px #FFF , 1019px 1863px #FFF , 677px 556px #FFF , 1665px 1740px #FFF , 1239px 633px #FFF , 1184px 663px #FFF , 1714px 660px #FFF , 1860px 1585px #FFF , 840px 1763px #FFF , 709px 619px #FFF , 779px 1381px #FFF , 913px 1170px #FFF , 1050px 757px #FFF , 1392px 1285px #FFF , 253px 1413px #FFF , 119px 1367px #FFF , 1914px 521px #FFF , 1318px 247px #FFF , 762px 1120px #FFF , 1110px 1158px #FFF , 39px 1839px #FFF , 1235px 478px #FFF , 1588px 197px #FFF , 259px 876px #FFF , 162px 591px #FFF , 1117px 1228px #FFF , 1890px 500px #FFF , 1613px 1011px #FFF , 666px 1398px #FFF , 351px 395px #FFF , 708px 776px #FFF , 1570px 1664px #FFF , 855px 1854px #FFF , 1772px 1611px #FFF , 764px 819px #FFF , 812px 1653px #FFF , 1297px 746px #FFF , 265px 1997px #FFF , 1517px 1634px #FFF , 194px 1290px #FFF , 1895px 131px #FFF , 1884px 400px #FFF , 1381px 532px #FFF , 604px 825px #FFF , 1570px 394px #FFF , 1053px 1173px #FFF , 277px 736px #FFF , 744px 96px #FFF , 603px 382px #FFF , 474px 322px #FFF , 751px 652px #FFF , 33px 1321px #FFF , 1686px 1876px #FFF , 589px 552px #FFF , 556px 1827px #FFF , 213px 976px #FFF , 1231px 419px #FFF , 1093px 1800px #FFF , 1202px 1608px #FFF , 1503px 1456px #FFF , 214px 329px #FFF , 57px 38px #FFF , 655px 272px #FFF , 1279px 863px #FFF , 732px 193px #FFF , 776px 72px #FFF , 828px 1316px #FFF , 1665px 443px #FFF , 517px 1522px #FFF , 587px 461px #FFF , 271px 161px #FFF , 1901px 1521px #FFF , 117px 967px #FFF , 1225px 137px #FFF , 257px 513px #FFF , 1969px 991px #FFF , 71px 1494px #FFF , 1253px 1477px #FFF , 582px 1334px #FFF , 129px 14px #FFF , 377px 276px #FFF , 1659px 329px #FFF , 576px 480px #FFF , 1226px 1225px #FFF , 1387px 286px #FFF , 992px 317px #FFF , 421px 286px #FFF , 1592px 1577px #FFF , 592px 513px #FFF , 144px 1882px #FFF , 279px 1540px #FFF , 1444px 1599px #FFF , 458px 545px #FFF , 1009px 352px #FFF , 1928px 129px #FFF , 24px 1767px #FFF , 1965px 1275px #FFF , 1111px 1943px #FFF , 1239px 1973px #FFF , 1642px 868px #FFF , 1974px 595px #FFF , 1049px 1504px #FFF , 1081px 284px #FFF , 879px 769px #FFF , 82px 1121px #FFF , 506px 908px #FFF , 1895px 1426px #FFF , 912px 516px #FFF , 1821px 1118px #FFF , 631px 1762px #FFF , 1218px 31px #FFF , 916px 1362px #FFF , 1292px 792px #FFF , 387px 1581px #FFF , 1763px 114px #FFF , 593px 363px #FFF , 1589px 235px #FFF , 1667px 1987px #FFF , 44px 1141px #FFF , 311px 1599px #FFF , 301px 1462px #FFF , 465px 174px #FFF , 624px 1251px #FFF , 85px 1978px #FFF , 1018px 1298px #FFF , 462px 1283px #FFF , 1562px 1880px #FFF , 394px 14px #FFF , 851px 19px #FFF , 1568px 1112px #FFF , 555px 377px #FFF , 1474px 1460px #FFF , 502px 758px #FFF , 886px 1544px #FFF , 718px 296px #FFF , 683px 1530px #FFF , 1439px 1872px #FFF , 556px 981px #FFF , 1309px 798px #FFF , 1008px 732px #FFF , 563px 1385px #FFF , 1065px 1295px #FFF , 55px 637px #FFF , 228px 990px #FFF , 1634px 1554px #FFF , 406px 292px #FFF , 913px 73px #FFF , 1035px 1088px #FFF , 1584px 1602px #FFF , 886px 1402px #FFF , 451px 420px #FFF , 1475px 1601px #FFF , 392px 963px #FFF , 1282px 369px #FFF , 944px 1782px #FFF , 102px 1812px #FFF , 529px 459px #FFF , 1109px 1423px #FFF , 1340px 1007px #FFF , 284px 676px #FFF , 1374px 131px #FFF , 1279px 962px #FFF , 578px 273px #FFF , 156px 107px #FFF , 1523px 1237px #FFF , 701px 559px #FFF , 1868px 1928px #FFF , 1225px 1016px #FFF , 1700px 1853px #FFF , 322px 1020px #FFF , 1423px 67px #FFF , 1903px 979px #FFF , 1546px 1930px #FFF , 1226px 1030px #FFF , 1585px 1963px #FFF , 1733px 1436px #FFF , 42px 1152px #FFF , 466px 1489px #FFF , 67px 593px #FFF , 359px 1185px #FFF , 661px 1841px #FFF , 955px 1034px #FFF , 71px 210px #FFF , 649px 851px #FFF , 142px 814px #FFF , 17px 1976px #FFF , 1898px 1310px #FFF , 1417px 762px #FFF , 246px 1860px #FFF , 423px 28px #FFF , 425px 739px #FFF , 1567px 115px #FFF , 1224px 760px #FFF , 977px 828px #FFF , 1248px 1266px #FFF , 1555px 342px #FFF , 1634px 1422px #FFF , 397px 1232px #FFF , 628px 1418px #FFF , 454px 1455px #FFF , 82px 533px #FFF , 418px 1763px #FFF , 75px 705px #FFF , 1907px 1737px #FFF , 754px 1171px #FFF , 564px 1471px #FFF , 152px 819px #FFF , 1197px 1730px #FFF , 311px 1577px #FFF , 1838px 1224px #FFF , 1415px 1617px #FFF , 315px 1615px #FFF , 1312px 1512px #FFF , 857px 1306px #FFF , 423px 1178px #FFF , 1734px 427px #FFF , 1855px 13px #FFF , 1793px 1649px #FFF , 1515px 1226px #FFF , 1699px 1039px #FFF , 868px 581px #FFF , 798px 143px #FFF , 1393px 1253px #FFF , 330px 726px #FFF , 1323px 264px #FFF , 1605px 1169px #FFF , 662px 1899px #FFF , 751px 1869px #FFF , 1661px 151px #FFF , 1083px 1548px #FFF , 496px 240px #FFF , 1184px 1821px #FFF , 1262px 1582px #FFF , 1315px 855px #FFF , 246px 502px #FFF , 873px 1248px #FFF , 794px 826px #FFF , 569px 1592px #FFF , 1138px 698px #FFF , 1674px 483px #FFF , 186px 413px #FFF , 553px 382px #FFF , 1589px 1107px #FFF , 1960px 1313px #FFF , 1350px 389px #FFF , 1085px 240px #FFF , 700px 1083px #FFF , 627px 1241px #FFF , 239px 399px #FFF , 891px 503px #FFF , 1014px 778px #FFF , 1148px 1550px #FFF , 1892px 675px #FFF , 859px 1533px #FFF , 287px 709px #FFF , 1146px 1672px #FFF , 799px 923px #FFF , 1549px 1093px #FFF , 1591px 1590px #FFF , 321px 1232px #FFF , 1086px 678px #FFF , 456px 1471px #FFF , 354px 46px #FFF , 69px 1583px #FFF , 228px 1314px #FFF , 1429px 713px #FFF , 590px 825px #FFF , 631px 1580px #FFF , 1547px 1691px #FFF , 1571px 831px #FFF , 1426px 1672px #FFF , 1444px 638px #FFF , 1710px 743px #FFF , 879px 1119px #FFF , 789px 1448px #FFF , 805px 1339px #FFF , 1461px 1018px #FFF , 861px 466px #FFF , 1433px 1874px #FFF , 1311px 913px #FFF , 179px 1054px #FFF , 362px 873px #FFF , 281px 103px #FFF , 957px 616px #FFF , 1829px 1711px #FFF , 829px 837px #FFF , 240px 1657px #FFF , 179px 756px #FFF , 1302px 529px #FFF , 1979px 1405px #FFF , 1043px 1597px #FFF , 598px 881px #FFF , 1820px 1860px #FFF , 1965px 1281px #FFF , 978px 543px #FFF , 444px 304px #FFF , 428px 66px #FFF , 1737px 1860px #FFF , 1372px 204px #FFF , 685px 893px #FFF , 749px 1131px #FFF , 1966px 597px #FFF , 1532px 1213px #FFF , 22px 63px #FFF , 957px 1717px #FFF , 701px 1183px #FFF , 1768px 1298px #FFF , 1945px 644px #FFF , 1840px 1864px #FFF , 629px 1191px #FFF , 1393px 363px #FFF , 457px 200px #FFF , 920px 1148px #FFF , 1426px 185px #FFF , 397px 1423px #FFF , 644px 695px #FFF , 109px 1942px #FFF , 899px 1139px #FFF , 1461px 989px #FFF , 731px 524px #FFF , 45px 1902px #FFF , 318px 1603px #FFF , 1437px 1021px #FFF , 1803px 1093px #FFF , 52px 1664px #FFF , 1248px 809px #FFF , 1010px 1546px #FFF , 626px 1295px #FFF , 552px 1325px #FFF , 1744px 1460px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 660px 1525px #FFF , 838px 1344px #FFF , 1832px 442px #FFF , 1748px 1433px #FFF , 1153px 1576px #FFF , 1988px 1898px #FFF , 837px 1714px #FFF , 1710px 960px #FFF , 345px 1734px #FFF , 309px 539px #FFF , 852px 1795px #FFF , 979px 1908px #FFF , 513px 119px #FFF , 488px 1265px #FFF , 1300px 977px #FFF , 1947px 661px #FFF , 1726px 697px #FFF , 392px 1385px #FFF , 1154px 356px #FFF , 206px 1275px #FFF , 932px 1963px #FFF , 467px 570px #FFF , 261px 1657px #FFF , 1245px 1109px #FFF , 798px 1950px #FFF , 1109px 590px #FFF , 28px 626px #FFF , 376px 213px #FFF , 1868px 1652px #FFF , 98px 1752px #FFF , 93px 1751px #FFF , 1554px 1025px #FFF , 1945px 1327px #FFF , 1551px 1592px #FFF , 321px 506px #FFF , 327px 215px #FFF , 1352px 1182px #FFF , 1574px 1381px #FFF , 802px 898px #FFF , 4px 1915px #FFF , 1807px 1014px #FFF , 538px 449px #FFF , 130px 866px #FFF , 1547px 8px #FFF , 1689px 308px #FFF , 628px 543px #FFF , 470px 1145px #FFF , 1572px 61px #FFF , 871px 879px #FFF , 269px 1863px #FFF , 1653px 381px #FFF , 776px 113px #FFF , 1831px 467px #FFF , 582px 2000px #FFF , 1203px 1733px #FFF , 453px 1980px #FFF , 448px 1779px #FFF , 674px 505px #FFF , 1786px 1600px #FFF , 845px 200px #FFF , 1845px 1668px #FFF , 1878px 1115px #FFF , 5px 1184px #FFF , 1410px 518px #FFF , 1897px 108px #FFF , 1511px 824px #FFF , 1845px 421px #FFF , 1391px 1537px #FFF , 45px 458px #FFF , 1805px 567px #FFF , 1105px 374px #FFF , 487px 111px #FFF , 1831px 621px #FFF , 1724px 694px #FFF , 650px 493px #FFF , 1662px 127px #FFF , 1768px 413px #FFF , 1453px 453px #FFF , 1155px 271px #FFF , 1044px 1013px #FFF , 1868px 321px #FFF , 1459px 1696px #FFF , 1470px 1683px #FFF , 766px 576px #FFF , 2000px 533px #FFF , 1328px 901px #FFF , 316px 151px #FFF , 815px 1226px #FFF , 79px 1419px #FFF , 285px 405px #FFF , 1962px 1628px #FFF , 1614px 1595px #FFF , 1692px 1423px #FFF , 1138px 286px #FFF , 213px 1253px #FFF , 1327px 1447px #FFF , 649px 333px #FFF , 1857px 1824px #FFF , 774px 532px #FFF , 626px 680px #FFF , 1461px 1297px #FFF , 740px 1990px #FFF , 1117px 975px #FFF , 1464px 1586px #FFF , 228px 8px #FFF , 164px 726px #FFF , 977px 99px #FFF , 1695px 873px #FFF , 1793px 1900px #FFF , 1957px 642px #FFF , 97px 1609px #FFF , 987px 1875px #FFF , 622px 1180px #FFF , 1904px 579px #FFF , 454px 1566px #FFF , 821px 1181px #FFF , 1823px 1484px #FFF , 1818px 777px #FFF , 1125px 1162px #FFF , 1160px 1327px #FFF , 1542px 1813px #FFF , 1867px 1093px #FFF , 171px 1654px #FFF , 1784px 836px #FFF , 685px 1581px #FFF , 135px 476px #FFF , 679px 1181px #FFF , 1777px 938px #FFF , 78px 841px #FFF , 1420px 1627px #FFF , 382px 304px #FFF , 944px 761px #FFF , 1145px 1614px #FFF , 1164px 605px #FFF , 798px 1313px #FFF , 259px 1602px #FFF , 741px 333px #FFF , 955px 1919px #FFF , 130px 1592px #FFF , 1060px 1877px #FFF , 423px 983px #FFF , 5px 1982px #FFF , 215px 126px #FFF , 1842px 1597px #FFF , 684px 94px #FFF , 1801px 573px #FFF , 1333px 1998px #FFF , 1195px 1829px #FFF , 472px 1025px #FFF , 1436px 1348px #FFF , 762px 402px #FFF , 1444px 442px #FFF , 490px 918px #FFF , 1842px 604px #FFF , 437px 1268px #FFF , 942px 709px #FFF , 1108px 1985px #FFF , 438px 1427px #FFF , 1521px 1145px #FFF , 1162px 1741px #FFF , 855px 1462px #FFF , 1650px 157px #FFF , 740px 1105px #FFF , 441px 774px #FFF , 1246px 507px #FFF , 69px 1402px #FFF , 833px 279px #FFF , 1563px 1812px #FFF , 33px 337px #FFF , 380px 1674px #FFF , 676px 562px #FFF , 679px 1584px #FFF , 728px 1069px #FFF , 1330px 236px #FFF , 271px 1654px #FFF , 595px 236px #FFF , 271px 465px #FFF , 34px 1772px #FFF , 801px 396px #FFF , 1711px 987px #FFF , 1881px 946px #FFF , 555px 1173px #FFF , 1109px 1455px #FFF , 279px 963px #FFF , 920px 1943px #FFF , 327px 700px #FFF , 1299px 1434px #FFF , 1697px 167px #FFF , 879px 1830px #FFF , 1579px 510px #FFF , 1558px 1538px #FFF , 1616px 221px #FFF , 1645px 340px #FFF , 548px 1136px #FFF , 134px 346px #FFF , 1526px 942px #FFF , 608px 899px #FFF , 947px 1614px #FFF , 384px 1481px #FFF , 486px 1687px #FFF , 731px 182px #FFF , 1928px 750px #FFF , 1322px 1800px #FFF , 350px 904px #FFF , 515px 299px #FFF , 1538px 938px #FFF , 22px 1266px #FFF , 1715px 1479px #FFF , 1512px 958px #FFF , 959px 454px #FFF , 241px 1215px #FFF , 333px 358px #FFF , 1033px 1110px #FFF , 1984px 185px #FFF , 1448px 1257px #FFF , 1968px 240px #FFF , 1714px 1199px #FFF , 1081px 840px #FFF , 230px 1547px #FFF , 820px 1254px #FFF , 1063px 1088px #FFF , 1674px 1293px #FFF , 693px 1020px #FFF , 1089px 474px #FFF , 47px 1129px #FFF , 1483px 1139px #FFF , 414px 113px #FFF , 790px 1137px #FFF , 1544px 1856px #FFF , 1014px 738px #FFF , 988px 198px #FFF , 1670px 1083px #FFF , 1602px 1671px #FFF , 1697px 790px #FFF , 660px 301px #FFF , 398px 605px #FFF , 1799px 206px #FFF , 1257px 1654px #FFF , 781px 869px #FFF , 1180px 1983px #FFF , 529px 1138px #FFF , 1522px 152px #FFF , 1462px 382px #FFF , 1113px 1585px #FFF , 1899px 18px #FFF , 1014px 440px #FFF , 246px 1799px #FFF , 244px 307px #FFF , 1351px 1092px #FFF , 440px 1774px #FFF , 171px 1796px #FFF , 1935px 1700px #FFF , 1265px 32px #FFF , 1622px 86px #FFF , 580px 1768px #FFF , 865px 101px #FFF , 16px 944px #FFF , 1539px 676px #FFF , 283px 1881px #FFF , 1369px 716px #FFF , 757px 1167px #FFF , 654px 1042px #FFF , 866px 1078px #FFF , 109px 1364px #FFF , 1733px 476px #FFF , 259px 158px #FFF , 1083px 1613px #FFF , 251px 336px #FFF , 1190px 633px #FFF , 154px 1993px #FFF , 1870px 807px #FFF , 1439px 1797px #FFF , 1732px 1870px #FFF , 1076px 1295px #FFF , 1544px 525px #FFF , 878px 1214px #FFF , 265px 1141px #FFF , 1998px 897px #FFF , 630px 635px #FFF , 182px 1164px #FFF , 1083px 1006px #FFF , 641px 644px #FFF , 1086px 1608px #FFF , 203px 1881px #FFF , 146px 1048px #FFF , 779px 1px #FFF , 951px 1064px #FFF , 1175px 1983px #FFF , 410px 420px #FFF , 1786px 1555px #FFF , 448px 807px #FFF , 1372px 1362px #FFF , 1482px 424px #FFF , 639px 1214px #FFF , 175px 1177px #FFF , 987px 390px #FFF , 846px 809px #FFF , 1059px 710px #FFF , 1493px 1410px #FFF , 1951px 1632px #FFF , 1151px 1842px #FFF , 934px 1736px #FFF , 1592px 916px #FFF , 986px 867px #FFF , 1736px 1148px #FFF , 920px 123px #FFF , 1776px 1436px #FFF , 997px 1864px #FFF , 419px 521px #FFF , 431px 945px #FFF , 1829px 757px #FFF , 218px 958px #FFF , 1676px 1343px #FFF , 829px 971px #FFF , 1218px 808px #FFF , 1528px 1459px #FFF , 248px 188px #FFF , 1496px 1523px #FFF , 1014px 837px #FFF , 327px 959px #FFF , 1224px 29px #FFF , 1313px 1494px #FFF , 114px 965px #FFF , 679px 1152px #FFF , 879px 673px #FFF , 1831px 890px #FFF , 1908px 519px #FFF , 102px 31px #FFF , 1747px 306px #FFF , 181px 887px #FFF , 1873px 360px #FFF , 1929px 1412px #FFF , 1638px 564px #FFF , 630px 975px #FFF , 1878px 12px #FFF , 1327px 985px #FFF , 108px 1494px #FFF , 101px 573px #FFF , 1535px 358px #FFF , 851px 140px #FFF , 857px 937px #FFF , 1129px 757px #FFF , 1328px 1477px #FFF , 150px 48px #FFF , 1814px 390px #FFF , 1000px 1977px #FFF , 1903px 1923px #FFF , 1989px 1642px #FFF , 1363px 1234px #FFF , 1147px 1708px #FFF , 1460px 1809px #FFF , 145px 798px #FFF , 572px 1458px #FFF , 218px 1956px #FFF , 1290px 917px #FFF , 622px 1288px #FFF , 1903px 447px #FFF , 1308px 410px #FFF , 499px 1629px #FFF , 73px 1684px #FFF , 953px 175px #FFF , 402px 820px #FFF , 593px 517px #FFF , 712px 1062px #FFF , 382px 251px #FFF , 1366px 501px #FFF , 1028px 1581px #FFF , 568px 201px #FFF , 441px 722px #FFF , 1115px 58px #FFF , 1142px 346px #FFF , 1019px 1863px #FFF , 677px 556px #FFF , 1665px 1740px #FFF , 1239px 633px #FFF , 1184px 663px #FFF , 1714px 660px #FFF , 1860px 1585px #FFF , 840px 1763px #FFF , 709px 619px #FFF , 779px 1381px #FFF , 913px 1170px #FFF , 1050px 757px #FFF , 1392px 1285px #FFF , 253px 1413px #FFF , 119px 1367px #FFF , 1914px 521px #FFF , 1318px 247px #FFF , 762px 1120px #FFF , 1110px 1158px #FFF , 39px 1839px #FFF , 1235px 478px #FFF , 1588px 197px #FFF , 259px 876px #FFF , 162px 591px #FFF , 1117px 1228px #FFF , 1890px 500px #FFF , 1613px 1011px #FFF , 666px 1398px #FFF , 351px 395px #FFF , 708px 776px #FFF , 1570px 1664px #FFF , 855px 1854px #FFF , 1772px 1611px #FFF , 764px 819px #FFF , 812px 1653px #FFF , 1297px 746px #FFF , 265px 1997px #FFF , 1517px 1634px #FFF , 194px 1290px #FFF , 1895px 131px #FFF , 1884px 400px #FFF , 1381px 532px #FFF , 604px 825px #FFF , 1570px 394px #FFF , 1053px 1173px #FFF , 277px 736px #FFF , 744px 96px #FFF , 603px 382px #FFF , 474px 322px #FFF , 751px 652px #FFF , 33px 1321px #FFF , 1686px 1876px #FFF , 589px 552px #FFF , 556px 1827px #FFF , 213px 976px #FFF , 1231px 419px #FFF , 1093px 1800px #FFF , 1202px 1608px #FFF , 1503px 1456px #FFF , 214px 329px #FFF , 57px 38px #FFF , 655px 272px #FFF , 1279px 863px #FFF , 732px 193px #FFF , 776px 72px #FFF , 828px 1316px #FFF , 1665px 443px #FFF , 517px 1522px #FFF , 587px 461px #FFF , 271px 161px #FFF , 1901px 1521px #FFF , 117px 967px #FFF , 1225px 137px #FFF , 257px 513px #FFF , 1969px 991px #FFF , 71px 1494px #FFF , 1253px 1477px #FFF , 582px 1334px #FFF , 129px 14px #FFF , 377px 276px #FFF , 1659px 329px #FFF , 576px 480px #FFF , 1226px 1225px #FFF , 1387px 286px #FFF , 992px 317px #FFF , 421px 286px #FFF , 1592px 1577px #FFF , 592px 513px #FFF , 144px 1882px #FFF , 279px 1540px #FFF , 1444px 1599px #FFF , 458px 545px #FFF , 1009px 352px #FFF , 1928px 129px #FFF , 24px 1767px #FFF , 1965px 1275px #FFF , 1111px 1943px #FFF , 1239px 1973px #FFF , 1642px 868px #FFF , 1974px 595px #FFF , 1049px 1504px #FFF , 1081px 284px #FFF , 879px 769px #FFF , 82px 1121px #FFF , 506px 908px #FFF , 1895px 1426px #FFF , 912px 516px #FFF , 1821px 1118px #FFF , 631px 1762px #FFF , 1218px 31px #FFF , 916px 1362px #FFF , 1292px 792px #FFF , 387px 1581px #FFF , 1763px 114px #FFF , 593px 363px #FFF , 1589px 235px #FFF , 1667px 1987px #FFF , 44px 1141px #FFF , 311px 1599px #FFF , 301px 1462px #FFF , 465px 174px #FFF , 624px 1251px #FFF , 85px 1978px #FFF , 1018px 1298px #FFF , 462px 1283px #FFF , 1562px 1880px #FFF , 394px 14px #FFF , 851px 19px #FFF , 1568px 1112px #FFF , 555px 377px #FFF , 1474px 1460px #FFF , 502px 758px #FFF , 886px 1544px #FFF , 718px 296px #FFF , 683px 1530px #FFF , 1439px 1872px #FFF , 556px 981px #FFF , 1309px 798px #FFF , 1008px 732px #FFF , 563px 1385px #FFF , 1065px 1295px #FFF , 55px 637px #FFF , 228px 990px #FFF , 1634px 1554px #FFF , 406px 292px #FFF , 913px 73px #FFF , 1035px 1088px #FFF , 1584px 1602px #FFF , 886px 1402px #FFF , 451px 420px #FFF , 1475px 1601px #FFF , 392px 963px #FFF , 1282px 369px #FFF , 944px 1782px #FFF , 102px 1812px #FFF , 529px 459px #FFF , 1109px 1423px #FFF , 1340px 1007px #FFF , 284px 676px #FFF , 1374px 131px #FFF , 1279px 962px #FFF , 578px 273px #FFF , 156px 107px #FFF , 1523px 1237px #FFF , 701px 559px #FFF , 1868px 1928px #FFF , 1225px 1016px #FFF , 1700px 1853px #FFF , 322px 1020px #FFF , 1423px 67px #FFF , 1903px 979px #FFF , 1546px 1930px #FFF , 1226px 1030px #FFF , 1585px 1963px #FFF , 1733px 1436px #FFF , 42px 1152px #FFF , 466px 1489px #FFF , 67px 593px #FFF , 359px 1185px #FFF , 661px 1841px #FFF , 955px 1034px #FFF , 71px 210px #FFF , 649px 851px #FFF , 142px 814px #FFF , 17px 1976px #FFF , 1898px 1310px #FFF , 1417px 762px #FFF , 246px 1860px #FFF , 423px 28px #FFF , 425px 739px #FFF , 1567px 115px #FFF , 1224px 760px #FFF , 977px 828px #FFF , 1248px 1266px #FFF , 1555px 342px #FFF , 1634px 1422px #FFF , 397px 1232px #FFF , 628px 1418px #FFF , 454px 1455px #FFF , 82px 533px #FFF , 418px 1763px #FFF , 75px 705px #FFF , 1907px 1737px #FFF , 754px 1171px #FFF , 564px 1471px #FFF , 152px 819px #FFF , 1197px 1730px #FFF , 311px 1577px #FFF , 1838px 1224px #FFF , 1415px 1617px #FFF , 315px 1615px #FFF , 1312px 1512px #FFF , 857px 1306px #FFF , 423px 1178px #FFF , 1734px 427px #FFF , 1855px 13px #FFF , 1793px 1649px #FFF , 1515px 1226px #FFF , 1699px 1039px #FFF , 868px 581px #FFF , 798px 143px #FFF , 1393px 1253px #FFF , 330px 726px #FFF , 1323px 264px #FFF , 1605px 1169px #FFF , 662px 1899px #FFF , 751px 1869px #FFF , 1661px 151px #FFF , 1083px 1548px #FFF , 496px 240px #FFF , 1184px 1821px #FFF , 1262px 1582px #FFF , 1315px 855px #FFF , 246px 502px #FFF , 873px 1248px #FFF , 794px 826px #FFF , 569px 1592px #FFF , 1138px 698px #FFF , 1674px 483px #FFF , 186px 413px #FFF , 553px 382px #FFF , 1589px 1107px #FFF , 1960px 1313px #FFF , 1350px 389px #FFF , 1085px 240px #FFF , 700px 1083px #FFF , 627px 1241px #FFF , 239px 399px #FFF , 891px 503px #FFF , 1014px 778px #FFF , 1148px 1550px #FFF , 1892px 675px #FFF , 859px 1533px #FFF , 287px 709px #FFF , 1146px 1672px #FFF , 799px 923px #FFF , 1549px 1093px #FFF , 1591px 1590px #FFF , 321px 1232px #FFF , 1086px 678px #FFF , 456px 1471px #FFF , 354px 46px #FFF , 69px 1583px #FFF , 228px 1314px #FFF , 1429px 713px #FFF , 590px 825px #FFF , 631px 1580px #FFF , 1547px 1691px #FFF , 1571px 831px #FFF , 1426px 1672px #FFF , 1444px 638px #FFF , 1710px 743px #FFF , 879px 1119px #FFF , 789px 1448px #FFF , 805px 1339px #FFF , 1461px 1018px #FFF , 861px 466px #FFF , 1433px 1874px #FFF , 1311px 913px #FFF , 179px 1054px #FFF , 362px 873px #FFF , 281px 103px #FFF , 957px 616px #FFF , 1829px 1711px #FFF , 829px 837px #FFF , 240px 1657px #FFF , 179px 756px #FFF , 1302px 529px #FFF , 1979px 1405px #FFF , 1043px 1597px #FFF , 598px 881px #FFF , 1820px 1860px #FFF , 1965px 1281px #FFF , 978px 543px #FFF , 444px 304px #FFF , 428px 66px #FFF , 1737px 1860px #FFF , 1372px 204px #FFF , 685px 893px #FFF , 749px 1131px #FFF , 1966px 597px #FFF , 1532px 1213px #FFF , 22px 63px #FFF , 957px 1717px #FFF , 701px 1183px #FFF , 1768px 1298px #FFF , 1945px 644px #FFF , 1840px 1864px #FFF , 629px 1191px #FFF , 1393px 363px #FFF , 457px 200px #FFF , 920px 1148px #FFF , 1426px 185px #FFF , 397px 1423px #FFF , 644px 695px #FFF , 109px 1942px #FFF , 899px 1139px #FFF , 1461px 989px #FFF , 731px 524px #FFF , 45px 1902px #FFF , 318px 1603px #FFF , 1437px 1021px #FFF , 1803px 1093px #FFF , 52px 1664px #FFF , 1248px 809px #FFF , 1010px 1546px #FFF , 626px 1295px #FFF , 552px 1325px #FFF , 1744px 1460px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1378px 238px #FFF , 1393px 922px #FFF , 1649px 1078px #FFF , 456px 495px #FFF , 550px 324px #FFF , 1563px 1803px #FFF , 1166px 364px #FFF , 337px 92px #FFF , 1231px 356px #FFF , 1538px 1211px #FFF , 42px 191px #FFF , 1758px 770px #FFF , 731px 52px #FFF , 235px 576px #FFF , 69px 296px #FFF , 1636px 326px #FFF , 1519px 1078px #FFF , 1166px 152px #FFF , 1134px 645px #FFF , 697px 286px #FFF , 481px 1256px #FFF , 197px 1148px #FFF , 1836px 1407px #FFF , 221px 994px #FFF , 1656px 240px #FFF , 884px 140px #FFF , 1011px 1421px #FFF , 459px 30px #FFF , 704px 1734px #FFF , 1772px 1156px #FFF , 1707px 1635px #FFF , 982px 95px #FFF , 935px 873px #FFF , 1141px 298px #FFF , 1206px 875px #FFF , 1255px 1441px #FFF , 105px 578px #FFF , 206px 1883px #FFF , 944px 192px #FFF , 189px 1386px #FFF , 904px 1270px #FFF , 1737px 432px #FFF , 1043px 1801px #FFF , 390px 1635px #FFF , 1597px 155px #FFF , 762px 948px #FFF , 436px 458px #FFF , 1764px 548px #FFF , 1236px 903px #FFF , 426px 1133px #FFF , 1488px 803px #FFF , 453px 1976px #FFF , 1345px 809px #FFF , 222px 1190px #FFF , 242px 1529px #FFF , 1823px 203px #FFF , 55px 197px #FFF , 644px 1478px #FFF , 23px 1679px #FFF , 757px 171px #FFF , 1153px 903px #FFF , 1695px 1131px #FFF , 1710px 255px #FFF , 1305px 55px #FFF , 1147px 332px #FFF , 483px 1396px #FFF , 465px 1133px #FFF , 1445px 1605px #FFF , 1408px 1764px #FFF , 961px 1128px #FFF , 1025px 1285px #FFF , 1249px 1699px #FFF , 1703px 801px #FFF , 1598px 518px #FFF , 365px 669px #FFF , 118px 720px #FFF , 1585px 134px #FFF , 1711px 1215px #FFF , 976px 1622px #FFF , 600px 1677px #FFF , 681px 2px #FFF , 962px 1323px #FFF , 1664px 495px #FFF , 572px 503px #FFF , 1719px 1753px #FFF , 696px 113px #FFF , 646px 39px #FFF , 392px 369px #FFF , 73px 1029px #FFF , 400px 1139px #FFF , 1217px 504px #FFF , 1477px 1058px #FFF , 708px 1016px #FFF , 1342px 325px #FFF , 1311px 1069px #FFF , 1832px 1896px #FFF , 1962px 1771px #FFF , 962px 404px #FFF , 687px 135px #FFF , 1834px 421px #FFF , 354px 294px #FFF , 1004px 1385px #FFF , 1103px 1306px #FFF , 1836px 1055px #FFF , 1110px 849px #FFF , 1888px 195px #FFF , 444px 1332px #FFF , 1368px 1062px #FFF , 1937px 1045px #FFF , 1061px 35px #FFF , 1143px 1523px #FFF , 1827px 1679px #FFF , 1712px 1784px #FFF , 543px 198px #FFF , 631px 213px #FFF , 61px 781px #FFF , 1718px 458px #FFF , 225px 1911px #FFF , 1812px 1085px #FFF , 1362px 1508px #FFF , 563px 405px #FFF , 1284px 427px #FFF , 1859px 1669px #FFF , 1570px 724px #FFF , 1924px 167px #FFF , 666px 1838px #FFF , 1965px 378px #FFF , 745px 890px #FFF , 1578px 1853px #FFF , 900px 310px #FFF , 814px 959px #FFF , 731px 1923px #FFF , 1011px 514px #FFF , 1260px 1275px #FFF , 857px 1594px #FFF , 820px 1907px #FFF , 1868px 1417px #FFF , 776px 239px #FFF , 891px 1072px #FFF , 922px 621px #FFF , 988px 1828px #FFF , 626px 1273px #FFF , 30px 1361px #FFF , 1375px 221px #FFF , 1001px 1080px #FFF , 1827px 1438px #FFF , 1580px 1283px #FFF , 1567px 1433px #FFF , 97px 773px #FFF , 1921px 1733px #FFF , 1644px 279px #FFF , 965px 29px #FFF , 547px 519px #FFF , 611px 1751px #FFF , 414px 753px #FFF , 162px 1409px #FFF , 373px 574px #FFF , 1534px 193px #FFF , 1197px 1170px #FFF , 924px 130px #FFF , 716px 1718px #FFF , 490px 362px #FFF , 1542px 734px #FFF , 837px 754px #FFF , 402px 632px #FFF , 82px 1315px #FFF , 1045px 1091px #FFF , 384px 1856px #FFF , 1927px 1180px #FFF , 970px 937px #FFF , 1516px 378px #FFF , 168px 486px #FFF , 1006px 362px #FFF , 1358px 1001px #FFF , 146px 920px #FFF , 1252px 299px #FFF , 1390px 131px #FFF , 1360px 1977px #FFF , 534px 1899px #FFF , 1926px 1951px #FFF , 412px 410px #FFF , 777px 316px #FFF , 1506px 1032px #FFF , 1991px 175px #FFF , 1067px 1571px #FFF , 1712px 1271px #FFF , 1825px 1108px #FFF , 1770px 1301px #FFF , 811px 131px #FFF , 393px 709px #FFF , 508px 394px #FFF , 609px 689px #FFF , 1699px 987px #FFF , 609px 1074px #FFF , 1408px 194px #FFF , 961px 895px #FFF , 1912px 245px #FFF , 394px 220px #FFF , 1859px 925px #FFF , 959px 1985px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1378px 238px #FFF , 1393px 922px #FFF , 1649px 1078px #FFF , 456px 495px #FFF , 550px 324px #FFF , 1563px 1803px #FFF , 1166px 364px #FFF , 337px 92px #FFF , 1231px 356px #FFF , 1538px 1211px #FFF , 42px 191px #FFF , 1758px 770px #FFF , 731px 52px #FFF , 235px 576px #FFF , 69px 296px #FFF , 1636px 326px #FFF , 1519px 1078px #FFF , 1166px 152px #FFF , 1134px 645px #FFF , 697px 286px #FFF , 481px 1256px #FFF , 197px 1148px #FFF , 1836px 1407px #FFF , 221px 994px #FFF , 1656px 240px #FFF , 884px 140px #FFF , 1011px 1421px #FFF , 459px 30px #FFF , 704px 1734px #FFF , 1772px 1156px #FFF , 1707px 1635px #FFF , 982px 95px #FFF , 935px 873px #FFF , 1141px 298px #FFF , 1206px 875px #FFF , 1255px 1441px #FFF , 105px 578px #FFF , 206px 1883px #FFF , 944px 192px #FFF , 189px 1386px #FFF , 904px 1270px #FFF , 1737px 432px #FFF , 1043px 1801px #FFF , 390px 1635px #FFF , 1597px 155px #FFF , 762px 948px #FFF , 436px 458px #FFF , 1764px 548px #FFF , 1236px 903px #FFF , 426px 1133px #FFF , 1488px 803px #FFF , 453px 1976px #FFF , 1345px 809px #FFF , 222px 1190px #FFF , 242px 1529px #FFF , 1823px 203px #FFF , 55px 197px #FFF , 644px 1478px #FFF , 23px 1679px #FFF , 757px 171px #FFF , 1153px 903px #FFF , 1695px 1131px #FFF , 1710px 255px #FFF , 1305px 55px #FFF , 1147px 332px #FFF , 483px 1396px #FFF , 465px 1133px #FFF , 1445px 1605px #FFF , 1408px 1764px #FFF , 961px 1128px #FFF , 1025px 1285px #FFF , 1249px 1699px #FFF , 1703px 801px #FFF , 1598px 518px #FFF , 365px 669px #FFF , 118px 720px #FFF , 1585px 134px #FFF , 1711px 1215px #FFF , 976px 1622px #FFF , 600px 1677px #FFF , 681px 2px #FFF , 962px 1323px #FFF , 1664px 495px #FFF , 572px 503px #FFF , 1719px 1753px #FFF , 696px 113px #FFF , 646px 39px #FFF , 392px 369px #FFF , 73px 1029px #FFF , 400px 1139px #FFF , 1217px 504px #FFF , 1477px 1058px #FFF , 708px 1016px #FFF , 1342px 325px #FFF , 1311px 1069px #FFF , 1832px 1896px #FFF , 1962px 1771px #FFF , 962px 404px #FFF , 687px 135px #FFF , 1834px 421px #FFF , 354px 294px #FFF , 1004px 1385px #FFF , 1103px 1306px #FFF , 1836px 1055px #FFF , 1110px 849px #FFF , 1888px 195px #FFF , 444px 1332px #FFF , 1368px 1062px #FFF , 1937px 1045px #FFF , 1061px 35px #FFF , 1143px 1523px #FFF , 1827px 1679px #FFF , 1712px 1784px #FFF , 543px 198px #FFF , 631px 213px #FFF , 61px 781px #FFF , 1718px 458px #FFF , 225px 1911px #FFF , 1812px 1085px #FFF , 1362px 1508px #FFF , 563px 405px #FFF , 1284px 427px #FFF , 1859px 1669px #FFF , 1570px 724px #FFF , 1924px 167px #FFF , 666px 1838px #FFF , 1965px 378px #FFF , 745px 890px #FFF , 1578px 1853px #FFF , 900px 310px #FFF , 814px 959px #FFF , 731px 1923px #FFF , 1011px 514px #FFF , 1260px 1275px #FFF , 857px 1594px #FFF , 820px 1907px #FFF , 1868px 1417px #FFF , 776px 239px #FFF , 891px 1072px #FFF , 922px 621px #FFF , 988px 1828px #FFF , 626px 1273px #FFF , 30px 1361px #FFF , 1375px 221px #FFF , 1001px 1080px #FFF , 1827px 1438px #FFF , 1580px 1283px #FFF , 1567px 1433px #FFF , 97px 773px #FFF , 1921px 1733px #FFF , 1644px 279px #FFF , 965px 29px #FFF , 547px 519px #FFF , 611px 1751px #FFF , 414px 753px #FFF , 162px 1409px #FFF , 373px 574px #FFF , 1534px 193px #FFF , 1197px 1170px #FFF , 924px 130px #FFF , 716px 1718px #FFF , 490px 362px #FFF , 1542px 734px #FFF , 837px 754px #FFF , 402px 632px #FFF , 82px 1315px #FFF , 1045px 1091px #FFF , 384px 1856px #FFF , 1927px 1180px #FFF , 970px 937px #FFF , 1516px 378px #FFF , 168px 486px #FFF , 1006px 362px #FFF , 1358px 1001px #FFF , 146px 920px #FFF , 1252px 299px #FFF , 1390px 131px #FFF , 1360px 1977px #FFF , 534px 1899px #FFF , 1926px 1951px #FFF , 412px 410px #FFF , 777px 316px #FFF , 1506px 1032px #FFF , 1991px 175px #FFF , 1067px 1571px #FFF , 1712px 1271px #FFF , 1825px 1108px #FFF , 1770px 1301px #FFF , 811px 131px #FFF , 393px 709px #FFF , 508px 394px #FFF , 609px 689px #FFF , 1699px 987px #FFF , 609px 1074px #FFF , 1408px 194px #FFF , 961px 895px #FFF , 1912px 245px #FFF , 394px 220px #FFF , 1859px 925px #FFF , 959px 1985px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1721px 1901px #FFF , 203px 1545px #FFF , 995px 1540px #FFF , 1556px 112px #FFF , 401px 412px #FFF , 103px 1278px #FFF , 1510px 762px #FFF , 608px 142px #FFF , 838px 1864px #FFF , 727px 1396px #FFF , 476px 1236px #FFF , 49px 1053px #FFF , 1405px 235px #FFF , 1202px 575px #FFF , 1779px 270px #FFF , 1342px 1378px #FFF , 417px 652px #FFF , 1312px 1292px #FFF , 551px 489px #FFF , 722px 796px #FFF , 586px 1953px #FFF , 1137px 23px #FFF , 441px 1286px #FFF , 1579px 1188px #FFF , 118px 528px #FFF , 419px 804px #FFF , 1067px 395px #FFF , 1301px 1031px #FFF , 1615px 153px #FFF , 890px 1490px #FFF , 426px 588px #FFF , 554px 1073px #FFF , 1028px 1744px #FFF , 1211px 1560px #FFF , 735px 1398px #FFF , 369px 1332px #FFF , 1486px 1047px #FFF , 691px 578px #FFF , 1923px 851px #FFF , 1082px 833px #FFF , 1902px 1878px #FFF , 809px 152px #FFF , 571px 1337px #FFF , 1164px 451px #FFF , 723px 1537px #FFF , 1941px 1999px #FFF , 803px 1143px #FFF , 782px 1477px #FFF , 34px 163px #FFF , 1079px 814px #FFF , 563px 300px #FFF , 777px 869px #FFF , 1259px 1150px #FFF , 1686px 433px #FFF , 1060px 174px #FFF , 319px 1813px #FFF , 1172px 1656px #FFF , 1098px 868px #FFF , 1932px 214px #FFF , 859px 1546px #FFF , 33px 426px #FFF , 1912px 1595px #FFF , 227px 1600px #FFF , 1726px 1321px #FFF , 1801px 1402px #FFF , 392px 216px #FFF , 1886px 1664px #FFF , 1557px 684px #FFF , 359px 225px #FFF , 547px 346px #FFF , 1006px 1788px #FFF , 1197px 1167px #FFF , 1444px 277px #FFF , 482px 987px #FFF , 1795px 220px #FFF , 1471px 229px #FFF , 673px 1957px #FFF , 738px 1979px #FFF , 995px 1005px #FFF , 353px 1275px #FFF , 1440px 801px #FFF , 963px 1557px #FFF , 1288px 311px #FFF , 396px 1518px #FFF , 1149px 1136px #FFF , 566px 402px #FFF , 1505px 411px #FFF , 1819px 1925px #FFF , 1002px 1706px #FFF , 19px 1259px #FFF , 212px 1655px #FFF , 1169px 622px #FFF , 1675px 1863px #FFF , 1740px 1058px #FFF , 10px 38px #FFF , 1535px 1854px #FFF , 273px 1885px #FFF , 290px 1114px #FFF , 998px 1938px #FFF , 960px 1923px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1721px 1901px #FFF , 203px 1545px #FFF , 995px 1540px #FFF , 1556px 112px #FFF , 401px 412px #FFF , 103px 1278px #FFF , 1510px 762px #FFF , 608px 142px #FFF , 838px 1864px #FFF , 727px 1396px #FFF , 476px 1236px #FFF , 49px 1053px #FFF , 1405px 235px #FFF , 1202px 575px #FFF , 1779px 270px #FFF , 1342px 1378px #FFF , 417px 652px #FFF , 1312px 1292px #FFF , 551px 489px #FFF , 722px 796px #FFF , 586px 1953px #FFF , 1137px 23px #FFF , 441px 1286px #FFF , 1579px 1188px #FFF , 118px 528px #FFF , 419px 804px #FFF , 1067px 395px #FFF , 1301px 1031px #FFF , 1615px 153px #FFF , 890px 1490px #FFF , 426px 588px #FFF , 554px 1073px #FFF , 1028px 1744px #FFF , 1211px 1560px #FFF , 735px 1398px #FFF , 369px 1332px #FFF , 1486px 1047px #FFF , 691px 578px #FFF , 1923px 851px #FFF , 1082px 833px #FFF , 1902px 1878px #FFF , 809px 152px #FFF , 571px 1337px #FFF , 1164px 451px #FFF , 723px 1537px #FFF , 1941px 1999px #FFF , 803px 1143px #FFF , 782px 1477px #FFF , 34px 163px #FFF , 1079px 814px #FFF , 563px 300px #FFF , 777px 869px #FFF , 1259px 1150px #FFF , 1686px 433px #FFF , 1060px 174px #FFF , 319px 1813px #FFF , 1172px 1656px #FFF , 1098px 868px #FFF , 1932px 214px #FFF , 859px 1546px #FFF , 33px 426px #FFF , 1912px 1595px #FFF , 227px 1600px #FFF , 1726px 1321px #FFF , 1801px 1402px #FFF , 392px 216px #FFF , 1886px 1664px #FFF , 1557px 684px #FFF , 359px 225px #FFF , 547px 346px #FFF , 1006px 1788px #FFF , 1197px 1167px #FFF , 1444px 277px #FFF , 482px 987px #FFF , 1795px 220px #FFF , 1471px 229px #FFF , 673px 1957px #FFF , 738px 1979px #FFF , 995px 1005px #FFF , 353px 1275px #FFF , 1440px 801px #FFF , 963px 1557px #FFF , 1288px 311px #FFF , 396px 1518px #FFF , 1149px 1136px #FFF , 566px 402px #FFF , 1505px 411px #FFF , 1819px 1925px #FFF , 1002px 1706px #FFF , 19px 1259px #FFF , 212px 1655px #FFF , 1169px 622px #FFF , 1675px 1863px #FFF , 1740px 1058px #FFF , 10px 38px #FFF , 1535px 1854px #FFF , 273px 1885px #FFF , 290px 1114px #FFF , 998px 1938px #FFF , 960px 1923px #FFF;
}

.custom-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  //font-family: "lato", sans-serif;
  font-family: "curse";
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
.custom-title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-nav-title {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}