<div class="row" style="display: flex;justify-content: center;">
    <div class="col-3" style="margin-top: 150px;">
        <h4>Registrieren</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form-group">
                <label for="input-user">Benutzername</label>
                <input type="text" class="form-control" placeholder="Benutzername" formControlName="username" id="input-user">
              </div>
              <div class="form-group">
                <label for="input-pass">Passwort</label>
                <input type="password" class="form-control" placeholder="******" formControlName="password" id="input-pass">
              </div>
              <div class="form-group">
                <label for="input-passTwo">Passwort wiederholen</label>
                <input type="password" class="form-control" placeholder="******" formControlName="passwordTwo" id="input-passTwo">
              </div>
              <div class="form-group">
                <label for="input-email">E-Mail</label>
                <input type="text" class="form-control" placeholder="E-Mail" formControlName="email" id="input-email">
              </div>
              <button type="submit" class="btn btn-secondary" [disabled]="!form.valid">Registrieren</button>
        </form>
    </div>
</div>

